* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Define a altura total para html e body */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    display: flex; /* Flexbox para organizar o layout */
    height: 100%; /* Faz com que o contêiner ocupe 100% da altura da página */
}

/* Barra Lateral */
.sidebar {
    width: 250px;
    background-color: #000;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.1rem;
    display: block;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #ddd;
}

.content {
    flex-grow: 1; /* Para ocupar o espaço restante */
    padding: 20px;
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 20px;
}

.notification-container {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o container de notificações */
}

.notification {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #e7e7e7; /* Fundo cinza claro */
    border-left: 5px solid #333; /* Borda esquerda preta */
}

.notification p {
    margin: 0;
}

.timestamp {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666; /* Texto cinza para a data/hora */
}

/* Estilo para mensagem de sucesso */
.alert-success {
    background-color: #d4edda; /* Verde claro */
    border: 1px solid #c3e6cb; /* Verde médio */
    color: #155724; /* Verde escuro */
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.alert-success span {
    flex-grow: 1;
}

/* Estilo para mensagem de erro */
.alert-danger {
    background-color: #f8d7da; /* Vermelho claro */
    border: 1px solid #f5c6cb; /* Vermelho médio */
    color: #721c24; /* Vermelho escuro */
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.alert-danger span {
    flex-grow: 1;
}

/* Estilo do botão de exclusão */
.delete-button {
    background-color: #d9534f; /* Vermelho */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Espaço entre a mensagem e o botão */
}

.delete-button:hover {
    background-color: #c9302c; /* Vermelho escuro ao passar o mouse */
}
