* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}


/* Barra Lateral */
.sidebar {
    width: 250px;
    background-color: #000;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.1rem;
    display: block;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #ddd;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    text-align: center;
    color: #333;
}

.form-container {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.search-group {
    flex: 1;
    margin-right: 10px;
}

.search-group:last-child {
    margin-right: 0;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #000;
}

.btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #333;
}


/* Estilo para mensagem de sucesso */
.alert-success {
    background-color: #d4edda; /* Verde claro */
    border: 1px solid #c3e6cb; /* Verde médio */
    color: #155724; /* Verde escuro */
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.alert-success span {
    flex-grow: 1;
}

/* Estilo para mensagem de erro */
.alert-danger {
    background-color: #f8d7da; /* Vermelho claro */
    border: 1px solid #f5c6cb; /* Vermelho médio */
    color: #721c24; /* Vermelho escuro */
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.alert-danger span {
    flex-grow: 1;
}	@media (max-width: 768px) {
	    .container {
	        flex-direction: column;
	    }

	    .sidebar {
	        width: 100%;
	    }
	}

