<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros - Igreja Metodista</title>
    <link rel="stylesheet" href="/css/livros.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Menu</h2>
            <nav>
                <ul>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas}">Início</a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/list/books}">Livros</a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/list/person}">Usuários com Emprestimo</a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/notificacoes}" th:text="'Notificações ' + '0' + ${number}"></a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/pre/loans/register/}">Empréstimo</a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/lista/Emprestimos}">Lista de Empréstimos</a></li>
                    <li><a th:href="@{/www.com.metodista.gerenciamento.consultas/pre/add-book}">Adicionar Livro</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <header>
                <h1>Livros</h1>
            </header>
            <section>
				
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
								<span th:text="${successMessage}"></span>
							</div>

							<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
								<span th:text="${errorMessage}"></span>
							</div>
                <p>Lista completa dos livros disponíveis para empréstimo.</p>

                <!-- Campo de busca -->
                <div class="search-container">
                    <form th:action="@{/www.com.metodista.gerenciamento.consultas/serach/books}" method="post">
                        <input type="text" id="search" placeholder="Buscar livro por nome, categoria, código..." name="text" class="search-input">
                        <button type="submit" class="search-btn">Buscar</button>
                    </form>
                </div>

                <table class="book-table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th>Código ISBN</th>
                            <th>Disponibilidade</th>
                            <th>Ações</th> <!-- Coluna para Ações -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="b : ${books}">
                            <td th:text="${b.title}">O Senhor dos Anéis</td>
                            <td th:text="${b.author}">J.R.R. Tolkien</td>
                            <td th:text="${b.typeCategory}"></td>
                            <td th:text="${b.isbn}"></td>
                            <td th:text="${b.availabilitybook}"></td>
                            <td>
								<form th:action="@{/www.com.metodista.gerenciamento.consultas/pre/edit/book}" method="post">    
								<input type="hidden" name="id" th:value="${b.id}">                    
								<button type="submit" class="edit-btn">Editar</button>
								</form>        
								<form th:action="@{/www.com.metodista.gerenciamento.consultas/delete/book}" method="post">	
									<input type="hidden" name="id" th:value="${b.id}">  							
                                    <button type="submit" class="delete-btn">Deletar</button>
								</form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>

</html>
